<div class="cadastro-container">
  <section class="cadastro-info">
    <h1 class="cadastro-info-title">Seu Logo</h1>
    <p class="cadastro-info-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="cadastro-info-rodape">&#64;2025 Desafio Front End</p>
  </section>

  <section class="cadastro-formulario">
    <ng-container *ngIf="parteCadastro === 1">
    <h2 class="cadastro-formulario-title">Bem-vindo</h2>
    <p class="cadastro-formulario-text">
      Seja bem-vindo, precisamos de algumas informações:
    </p>

    <form class="cadastro-form" (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
      <div class="nome-sobrenome-group">
        <p-floatlabel class="field">
          <input pInputText id="nome" name="nome" [(ngModel)]="nome" autocomplete="off" />
          <label for="nome">Nome</label>
        </p-floatlabel>

        <p-floatlabel class="field">
          <input pInputText id="sobrenome" name="sobrenome" [(ngModel)]="sobrenome" autocomplete="off" />
          <label for="sobrenome">Sobrenome</label>
        </p-floatlabel>
      </div>
      
      <p-dropdown
        class="field"
        [options]="opcoesGeneros"
        [(ngModel)]="generoSelecionado"
        name="genero"
        placeholder="Qual o seu gênero?">
      </p-dropdown>

      <p-button type="submit" label="Avançar no Cadastro" [disabled]="!cadastroForm.form.valid"></p-button>
    </form>
    </ng-container>

    <ng-container *ngIf="parteCadastro === 2">
    <h2 class="cadastro-formulario-title">Mais alguns detalhes...</h2>
    <p class="cadastro-formulario-text">
      Precisamos também de mais informações sobre seu endereço, preencha seus dados abaixo:<br/>
      <i>*itens obrigatórios</i> 
    </p>

    <form class="cadastro-form" (ngSubmit)="onSalvar()" #cadastroForm="ngForm">
      <div class="cep-estado-group">
        <p-floatlabel class="field">
          <input pInputText id="cep" name="cep" [(ngModel)]="cep" autocomplete="off" />
          <label for="cep">CEP *</label>
        </p-floatlabel>

        <p-dropdown
        class="field"
        [options]="opcoesUF"
        [(ngModel)]="UFSelecionado"
        name="uf"
        placeholder="UF">
        </p-dropdown>
      </div>
      
      <p-floatlabel class="field">
          <input pInputText id="rua" name="rua" [(ngModel)]="rua" autocomplete="off" />
          <label for="rua">Rua ( Ex: 'Rua Araraquara' ) *</label>
      </p-floatlabel>

      <div class="bairro-numero-group">
        <p-floatlabel class="field">
            <input pInputText id="bairro" name="bairro" [(ngModel)]="bairro" autocomplete="off" />
            <label for="bairro">Bairro *</label>
        </p-floatlabel>

        <p-floatlabel class="field">
            <input pInputText id="numero" name="numero" [(ngModel)]="numero" autocomplete="off" />
            <label for="numero">Número *</label>
        </p-floatlabel>
      </div>

      <p-floatlabel class="field">
            <input pInputText id="complemento" name="complemento" [(ngModel)]="complemento" autocomplete="off" />
            <label for="complemento">Complemento ( Opcional )</label>
      </p-floatlabel>

      <p-button type="submit" label="Salvar" [disabled]="!cadastroForm.form.valid"></p-button>
    </form>
    </ng-container>
  </section>
</div>