/* fonte inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* scroll x bloquado */
body {
  overflow-x: hidden; 
}

.cadastro-container {
  display: flex;
  height: 100vh;
  width: 100%; 
  max-width: 100vw; 
}

/* lado esquerdo com degradê, e shadow */
.cadastro-info {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  color: #fff;
  background: linear-gradient(270deg, #00b09b, #96c93d, #00b09b);
  background-size: 600% 600%;
  animation: animacaodegrade 15s ease infinite;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

}

/* animação do degradê do fundo, que se mexe de um lado pro outro  */
@keyframes animacaodegrade {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* uso de clamp pois só rem parecia estar atrapalhando largura */
.cadastro-info-title {
  font-size: clamp(3rem, 6vw, 6rem); 
  margin-bottom: 10px;
}

.cadastro-info-text {
  font-size: clamp(1rem, 1.5vw, 1.5rem); 
  max-width: 100%;
  margin-bottom: 20%;
}

.cadastro-info-rodape {
  font-size: clamp(1rem, 1.5vw, 1.5rem); 
  position: absolute;
  bottom: 15%;
}




/* formulário */

/*  animação entre etapa ( opacity vai e volta  cadastro formulario ) sem animation do angular pq mexia com posição */
.cadastro-formulario {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.cadastro-formulario.fade-out {
  opacity: 0;
}

.cadastro-formulario.fade-in {
  opacity: 1; 
}

h2 {
  color: #00C389;
}
.cadastro-formulario {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
  background: #fff;
  overflow-x: hidden; 
}


.cadastro-formulario-text {
  text-align: left;
  align-self: flex-start;
  color: #333;
  max-width: 100%; 
}

.cadastro-formulario-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cadastro-formulario-text {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 100%; 
}

/* form */
.cadastro-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* div nome e sobrenome */
.nome-sobrenome-group {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;
}

/* flex-g flex-s flex-b pra organizar tamanho dos inputs (fields) da div nome e grupo - quebra linha se a largura for muito pequeno pra responsividade */
.nome-sobrenome-group .field {
  flex: 1 1 40%; 
  min-width: 120px; 
}

.field {
  width: 100%;
}


/* prime ng */
/* arrumando estilos a mão dos componentes prime ng pq uns estilos mexeram com width */
:host ::ng-deep p-inputtext,
:host ::ng-deep input,
:host ::ng-deep .p-inputtext {
  width: 100%;
}

/* arrumando altura e padding dos inputs que tinham sido afetados */
:host ::ng-deep .p-inputtext,
:host ::ng-deep p-floatlabel input {
  height: 3rem; 
  line-height: normal;
  padding-inline: 10px;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-panel {
  max-width: 100%;
}
.cadastro-form p-button {
  align-self: flex-start;
  width: auto;
}



/* segunda parte */
/* grupos de inputs */
.cep-estado-group,
.cidade-bairro-group,
.rua-numero-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* cep maior */
.cep-estado-group .field:first-child {
  flex: 2 1 0;
  min-width: 100px;
}

/* uf pequeno */
.cep-estado-group .field:last-child {
  flex: 0 0 100px;
  min-width: 90px;
}

/* 40/40 */
.cidade-bairro-group .field {
  flex: 1 1 0;
  min-width: 120px;
}

/* rua maior */
.rua-numero-group .field:first-child {
  flex: 2 1 0;
  min-width: 100px;
}

/* número pequeno */
.rua-numero-group .field:last-child {
  flex: 0 0 80px;
  min-width: 60px;
}

/*  tirando seta do input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/*  pop up */
.popup-info {
  margin-bottom: 1rem;
  width: 100%;
}

