/* para preencher tela  */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

/* mudando fonte ptooltip manualmente */
body,
.p-tooltip,
.p-tooltip .p-tooltip-text {
  font-family: 'Inter', sans-serif; 
}
